In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

data = pd.read_csv("/Users/jatin/Documents/Jatin/DS_Projects/EV_Population/EV_Population.csv")
df = pd.DataFrame(data)
print(df)

Matplotlib is building the font cache; this may take a moment.

      State  Model Year       Make Electric Vehicle Type  Electric Range  \
0        WA        2020      TESLA                   BEV             266
1        WA        2024        BMW                  PHEV              39
2        WA        2024        BMW                  PHEV              39
3        WA        2018      TESLA                   BEV             215
4        WA        2012  CHEVROLET                  PHEV              35
...     ...         ...        ...                   ...             ...
92671    WA        2015     NISSAN                   BEV              84
92672    WA        2018      TESLA                   BEV             215
92673    WA        2019      TESLA                   BEV             220
92674    WA        2022   CHRYSLER                  PHEV              32
92675    WA        2018      TESLA                   BEV             215

       Base MSRP  Legislative District CAFV Eligibility Simple
0              0                  46.0                Eligible
1              0                  46.0                Eligible
2              0                  43.0                Eligible
3              0                   1.0                Eligible
4              0                  35.0                Eligible
...          ...                   ...                     ...
92671          0                  30.0                Eligible
92672          0                   1.0                Eligible
92673          0                  44.0                Eligible
92674          0                  45.0                Eligible
92675          0                  41.0                Eligible

[92676 rows x 8 columns]

In [4]:
print(df.describe())
print(df.info())

        Model Year  Electric Range      Base MSRP  Legislative District
count  92676.00000    92676.000000   92676.000000          92676.000000
mean    2018.91494      115.509388    2018.564461             28.506798
std        3.27711       98.815377   11390.579691             14.649595
min     1999.00000        6.000000       0.000000              1.000000
25%     2017.00000       30.000000       0.000000             17.000000
50%     2019.00000       73.000000       0.000000             32.000000
75%     2021.00000      215.000000       0.000000             41.000000
max     2025.00000      337.000000  845000.000000             49.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92676 entries, 0 to 92675
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   State                    92676 non-null  object
 1   Model Year               92676 non-null  int64
 2   Make                     92676 non-null  object
 3   Electric Vehicle Type    92676 non-null  object
 4   Electric Range           92676 non-null  int64
 5   Base MSRP                92676 non-null  int64
 6   Legislative District     92676 non-null  float64
 7   CAFV Eligibility Simple  92676 non-null  object
dtypes: float64(1), int64(3), object(4)
memory usage: 5.7+ MB
None

In [8]:
null_count = df.isnull().sum()
print(null_count)

base_unique_count = df["Base MSRP"].value_counts()
print(base_unique_count)

State                      0
Model Year                 0
Make                       0
Electric Vehicle Type      0
Electric Range             0
Base MSRP                  0
Legislative District       0
CAFV Eligibility Simple    0
dtype: int64
Base MSRP
0         89396
69900      1324
31950       366
52900       220
32250       143
59900       128
54950       118
39995       114
36900       102
44100        94
64950        89
45600        79
33950        71
52650        71
34995        65
55700        57
36800        54
53400        39
81100        24
98950        22
110950       21
90700        15
75095        12
184400       11
102000       11
43700         8
109000        7
89100         7
91250         4
32995         3
845000        1
Name: count, dtype: int64

In [13]:
state_unique_count = df["State"].value_counts()
print("State count is \n", state_unique_count, "\n")

make_unique_count = df["Make"].value_counts()
print("Make count is \n", make_unique_count, "\n")

model_unique_count = df["Model Year"].value_counts()
model_unique_count_sorted = model_unique_count.sort_values()
print("Model Year count is \n", model_unique_count_sorted, "\n")

State count is
 State
WA    92676
Name: count, dtype: int64

Make count is
 Make
TESLA                   25228
NISSAN                  10406
CHEVROLET                9697
TOYOTA                   7585
BMW                      6075
JEEP                     5646
KIA                      4451
FORD                     3912
CHRYSLER                 3700
VOLVO                    3630
AUDI                     2465
HYUNDAI                  1309
VOLKSWAGEN               1092
MITSUBISHI               1041
HONDA                     869
MAZDA                     839
PORSCHE                   829
DODGE                     708
MERCEDES-BENZ             567
FIAT                      558
LEXUS                     451
MINI                      334
LINCOLN                   326
SMART                     243
JAGUAR                    201
POLESTAR                  145
LAND ROVER                 95
CADILLAC                   91
ALFA ROMEO                 89
SUBARU                     65
FISKER                     11
TH!NK                       5
AZURE DYNAMICS              4
BENTLEY                     4
WHEEGO ELECTRIC CARS        3
LAMBORGHINI                 2
Name: count, dtype: int64

Model Year count is
 Model Year
2003        1
2002        2
1999        2
2000        7
2008       22
2010       24
2011      696
2025      888
2012     1531
2014     3433
2013     4243
2022     4559
2015     4685
2021     4725
2016     5431
2023     7711
2017     8294
2024     9215
2019    10826
2020    12167
2018    14214
Name: count, dtype: int64

In [16]:
type_unique_count = df["Electric Vehicle Type"].value_counts()
print("Type count is \n", type_unique_count, "\n")

Type count is
 Electric Vehicle Type
BEV     46798
PHEV    45878
Name: count, dtype: int64